html,
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  min-width: 430px;
  border: 3px dashed #c7e4ff;
  background-color: black;
}

html::before,
body::before,
header::before,
footer::before, 
nav::before,
section::before{
  color: #7fc1ff;
}

footer {
  background-color: #000000;
  border: 3px solid #0000ff;
  color: white;
}

header{
  line-height: 40px;
  background-color: #000000;
  color: yellow;
  border: 3px solid yellow;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
}

nav{
  background-color: #000000;
  border: 3px solid #0000ff;
  color: blue;
}

section {
  background-color: #000000;
  border: 3px solid #e3256b;
  color: #e3256b;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

h3 {
  line-height: 25px;
  font-size: 25px;
  color: #e3256b;
  background-color: #000000;
  border: 2px solid #e3256b;
  margin-left: auto;
  margin-right: auto;
  width: 9em;
}

h2{
  line-height: 40px;
  font-size: 40px;
  color: #8ffe09;
  border: 3px solid #8ffe09;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}

li{
  font-size: 30px;
}

button{
  background-color: black;
  border: 3px solid #e3256b;
  color: #e3256b;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

h2::before {
  content: "h2";
  color: #ff994f;
}

h3::before {
  content: "h3";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

* {
  position: relative;
  padding: 25px 25px 20px;
  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}